.section-outer {
    background-color: white;
    border-radius: 15px;
    border: 1px rgb(206, 206, 206) solid;
}

.img-overlay {
    position: absolute;
    bottom: -50px;
    left: 35px;
}

.img-overlay2 {
    position: absolute;
    top: 10%;
    right: 4%;
    height: 32px;
    width: 32px;
}
.img-overlay3 {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -32%;
}
#root > div.pt-5.container > div > div.col-md-7.offset-md-1 > div.section-outer.px-0.col > div.section-inner.col > div:nth-child(1) > div > svg:hover
{
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.15);
}

#root > div.pt-5.container > div > div.col-md-7.offset-md-1 > div.section-outer.px-0.col > div.section-inner.col > div:nth-child(3) > div:nth-child(2) > div > svg:hover{
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.15);        
}

#root > div.pt-5.container > div > div.col-md-7.offset-md-1 > div.section-outer.px-0.col > div.section-inner.col > div:nth-child(3) > div:nth-child(1) > div > svg:hover{
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.15);  
}

.overlay-2-bg {
    background-color: white;
    border-radius: 50%;
}

.section-inner {
    padding: 25px 30px;
}

.banner-parent {
    position: relative;
}

.button-border button {
    border-radius: 25px;
    padding: 4px 16px;
}

.btn-1 button {
    background-color: #0a66c2;
}

.xs-logo {
    height: 16px !important;
    width: 16px !important;
}
.small-logo {
    width: 32px;
    height: 32px;
}

.medium-logo {
    width: 56px;
    height: 56px;
}

.dashboard {
    background-color: rgb(220, 230, 241);
    border-radius: 15px;
    border: 1px rgb(206, 206, 206) solid;
}

.show-recruiters {
    padding: 0px 20px 10px 20px;
}

.dash-stats {
    font-size: 40px;
    text-decoration: none;
    font-weight: lighter;
}

.mid-dash {
    border-left: 1px rgb(206, 206, 206) solid;
    border-right: 1px rgb(206, 206, 206) solid;
}

.dropdown-arrow {
    color: black;
    padding: 6px 3px 3px 6px;
}

.inner-small-items {
    padding: 12px;
}
